<div class="content">
  <div class="btns-wrap">
    <button
      class="add-question"
      (click)="onAddQuestion()"
      (click)="openModal()"
    >
      {{ "BUTTONS.ADD_QUESTION" | translate }}
    </button>
    <mat-form-field >
      <mat-label>{{ "EDIT.SELECT_TYPE" | translate }}</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let type of types"
          [value]="type.value"
          (click)="getType(type.value)"
        >
          {{ type.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field >
      <mat-label>{{ "EDIT.SELECT_LEVEL" | translate }}</mat-label>
      <mat-select>
        <mat-option
          *ngFor="let level of levels"
          [value]="level.value"
          (click)="getLevel(level.value)"
        >
          {{ level.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="get-all" (click)="getQuestions()">
      {{ "BUTTONS.GET_ALL" | translate }}
    </button>
  </div>
  <div class="table-wrap">
    <table mat-table [dataSource]="dataSource" class="questions-table table">
      <ng-container matColumnDef="id">
        <th class="th-width-6" mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="text">
        <th class="th-width-35" mat-header-cell *matHeaderCellDef>
          {{ "EDIT.TEXT" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.text }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th class="th-width-6" mat-header-cell *matHeaderCellDef>
          {{ "EDIT.TEXT" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th class="th-width-6" mat-header-cell *matHeaderCellDef>
          {{ "EDIT.EDIT" | translate }}
        </th>
        <td mat-cell mat-cell *matCellDef="let element">
          <mat-icon  
          class="edit-img" 
          (click)="onEditQuestion(element)" 
          (change)="getInputTextType($event)" 
          (click)="openModal()" >edit</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th class="th-width-6" mat-header-cell *matHeaderCellDef>
          {{ "EDIT.DELETE" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="delete-img" (click)="onDeleteQuestion(element)">delete_outline</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="modal-close" id="modal">
    <!-- <form [formGroup]="formValue" class="modal-content">
          <div class="form-group">
            <ng-template matStepLabel>Create Question</ng-template>
            <label class="textarea-label" for="text"
              >{{ "EDIT.TEXT" | translate }}:</label
            >
            <textarea
              rows="5"
              cols="20"
              formControlName="text"
              name="text"
              class="form-control textarea"
              id="text"
            ></textarea>
          </div>

          <div class="form-group">
            <label class="input-label" for="type"
              >{{ "EDIT.TYPE" | translate }}:</label
            >
            <input
              formControlName="type"
              name="type"
              class="form-control input"
              id="type"
            />
          </div>
          <div class="form-group">
            <label class="input-label" for="type"
              >{{ "EDIT.ENG_LVL" | translate }}:</label
            >
            <input
              formControlName="englishLevel"
              name="englishLevel"
              class="form-control input"
              id="englishLevel"
            />
          </div>
          <div class="form-group">
              <div>
                <label for="file">Choose file to upload</label>
                <input type="file" hidden id="file" name="file" (change)="getFile($event)" multiple>
                <button (click)="submitFile()">Submit</button>
              </div>
          </div>
          <div class="buttons">
            <div>
              <button mat-button matStepperNext (click)="postQuestionDetails()">Next</button>
            </div>
          </div>
        </form> -->
      <form [formGroup]="formValue" class="table-form">
      <!-- <img src="../../../../assets/images/close.png" (click)="closeModal()" id="close-img" alt="close"> -->
      <mat-icon (click)="closeModal()" id="close-img">close</mat-icon>
      <ng-template matStepLabel>Create Question</ng-template>
      <mat-form-field class="input-table">
        <mat-label>{{ "EDIT.TYPE" | translate }}:</mat-label>
        <input matInput (change)="getInputTextType($event)" formControlName="type" name="type"/>
      </mat-form-field>
      <mat-form-field class="input-table"  *ngIf="textInputType != '1'">
        <mat-label>{{ "EDIT.ENG_LVL" | translate }}:</mat-label>
        <input matInput  formControlName="englishLevel" name="englishLevel" />
      </mat-form-field>
      <mat-form-field  class="table-textarea" *ngIf="textInputType != '1'">
        <mat-label>{{ "EDIT.TEXT" | translate }}:</mat-label>
        <textarea
          class="form-control textarea"
          matInput
          no-resize
          formControlName="text"
          name="text"
          [matTextareaAutosize]="true"
        >
        </textarea>
      </mat-form-field>

      <div class="form-group" *ngIf="textInputType == '1'"> 
        <div class="form-group-wrapper">
          <label for="file" class="form-group-file" 
            >{{"BUTTONS.UPLOAD_FILE" | translate}}</label
          >
          <input
            type="file"
            hidden
            id="file"
            name="file"
            (change)="getFile($event)"
            multiple
          />
          <button (click)="submitFile()">{{"BUTTONS.SUBMIT" | translate}}</button>
        </div>
      </div>
      <form [formGroup]="materialValue" class="form-answers" *ngIf="textInputType != '3'">
        <h4 class='form-answers__title' *ngIf="textInputType != '1'">{{"EDIT.TITLE_ANSWER" | translate}}</h4>
        <mat-form-field class="input-answer" *ngIf="textInputType != '1'">
          <mat-label>{{"EDIT.ANSWER_1" | translate}}</mat-label>
          <input matInput formControlName="answer1" name="answer1" />
        </mat-form-field>
        <mat-form-field class="input-answer" *ngIf="textInputType != '1'">
          <mat-label>{{"EDIT.ANSWER_2" | translate}}</mat-label>
          <input matInput formControlName="answer2" name="answer2" />
        </mat-form-field>
        <mat-form-field class="input-answer" *ngIf="textInputType != '1'">
          <mat-label>{{"EDIT.ANSWER_3" | translate}}</mat-label>
          <input matInput formControlName="answer3" name="answer3" />
        </mat-form-field>
        <mat-form-field class="input-answer" *ngIf="textInputType != '1'">
          <mat-label>{{"EDIT.ANSWER_4" | translate}}</mat-label>
          <input matInput formControlName="answer4" name="answer4" />
        </mat-form-field>
        <mat-form-field class="input-answer" *ngIf="textInputType != '1'">
          <mat-label>{{"EDIT.ANSWER_5" | translate}}</mat-label>
          <input matInput formControlName="answer5" name="answer5" />
        </mat-form-field>
        <div class="buttons" *ngIf="textInputType != '1'">
          <button class="confirm-btn" (click)="postQuestionDetails()" (click)="closeModal()">{{ "BUTTONS.ADD_QUESTION" | translate }}</button>
          <button class="edit-btn" (click)="onUpdateQuestionDetails()" (click)="closeModal()">{{ "PROFILE.EDIT_QUESTION" | translate }}</button>
        </div>
      </form>
      <mat-stepper class="stepper-edit" #stepper *ngIf="textInputType == '1'">
        <mat-step [stepControl]="firstFormGroup" class="scroll-edit" >
          <div class="stepper-wrap">
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.TYPE" | translate }}:</mat-label>
              <input matInput (change)="getInputTextType($event)" formControlName="type" name="type"/>
            </mat-form-field>
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.ENG_LVL" | translate }}:</mat-label>
              <input matInput  formControlName="englishLevel" name="englishLevel" />
            </mat-form-field>
            <mat-form-field  class="table-textarea">
              <mat-label>{{ "EDIT.TEXT" | translate }}:</mat-label>
              <textarea
                class="form-control textarea"
                matInput
                no-resize
                formControlName="text"
                name="text"
                [matTextareaAutosize]="true"
              >
              </textarea>
            </mat-form-field>
            <form [formGroup]="materialValue" class="form-answers" >
              <h4 class='form-answers__title'>{{"EDIT.TITLE_ANSWER" | translate}}</h4>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_1" | translate}}</mat-label>
                <input matInput formControlName="answer1" name="answer1" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_2" | translate}}</mat-label>
                <input matInput formControlName="answer2" name="answer2" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_3" | translate}}</mat-label>
                <input matInput formControlName="answer3" name="answer3" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_4" | translate}}</mat-label>
                <input matInput formControlName="answer4" name="answer4" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_5" | translate}}</mat-label>
                <input matInput formControlName="answer5" name="answer5" />
              </mat-form-field>
              <div class="buttons">
                <button class="confirm-btn" mat-button matStepperNext (click)="postQuestionDetails()">{{ "BUTTONS.ADD_QUESTION" | translate }}</button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <div class="stepper-wrap">
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.TYPE" | translate }}:</mat-label>
              <input matInput (change)="getInputTextType($event)" formControlName="type" name="type"/>
            </mat-form-field>
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.ENG_LVL" | translate }}:</mat-label>
              <input matInput  formControlName="englishLevel" name="englishLevel" />
            </mat-form-field>
            <mat-form-field  class="table-textarea">
              <mat-label>{{ "EDIT.TEXT" | translate }}:</mat-label>
              <textarea
                class="form-control textarea"
                matInput
                no-resize
                formControlName="text"
                name="text"
                [matTextareaAutosize]="true"
              >
              </textarea>
            </mat-form-field>
            <form [formGroup]="materialValue" class="form-answers" >
              <h4 class='form-answers__title'>{{"EDIT.TITLE_ANSWER" | translate}}</h4>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_1" | translate}}</mat-label>
                <input matInput formControlName="answer1" name="answer1" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_2" | translate}}</mat-label>
                <input matInput formControlName="answer2" name="answer2" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_3" | translate}}</mat-label>
                <input matInput formControlName="answer3" name="answer3" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_4" | translate}}</mat-label>
                <input matInput formControlName="answer4" name="answer4" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_5" | translate}}</mat-label>
                <input matInput formControlName="answer5" name="answer5" />
              </mat-form-field>
              <div class="buttons">
                <button class="confirm-btn" mat-button matStepperNext (click)="postQuestionDetails()">{{ "BUTTONS.ADD_QUESTION" | translate }}</button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <div class="stepper-wrap">
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.TYPE" | translate }}:</mat-label>
              <input matInput (change)="getInputTextType($event)" formControlName="type" name="type"/>
            </mat-form-field>
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.ENG_LVL" | translate }}:</mat-label>
              <input matInput  formControlName="englishLevel" name="englishLevel" />
            </mat-form-field>
            <mat-form-field  class="table-textarea">
              <mat-label>{{ "EDIT.TEXT" | translate }}:</mat-label>
              <textarea
                class="form-control textarea"
                matInput
                no-resize
                formControlName="text"
                name="text"
                [matTextareaAutosize]="true"
              >
              </textarea>
            </mat-form-field>
            <form [formGroup]="materialValue" class="form-answers" >
              <h4 class='form-answers__title'>{{"EDIT.TITLE_ANSWER" | translate}}</h4>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_1" | translate}}</mat-label>
                <input matInput formControlName="answer1" name="answer1" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_2" | translate}}</mat-label>
                <input matInput formControlName="answer2" name="answer2" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_3" | translate}}</mat-label>
                <input matInput formControlName="answer3" name="answer3" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_4" | translate}}</mat-label>
                <input matInput formControlName="answer4" name="answer4" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_5" | translate}}</mat-label>
                <input matInput formControlName="answer5" name="answer5" />
              </mat-form-field>
              <div class="buttons">
                <button class="confirm-btn" mat-button matStepperNext (click)="postQuestionDetails()">{{ "BUTTONS.ADD_QUESTION" | translate }}</button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <div class="stepper-wrap">
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.TYPE" | translate }}:</mat-label>
              <input matInput (change)="getInputTextType($event)" formControlName="type" name="type"/>
            </mat-form-field>
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.ENG_LVL" | translate }}:</mat-label>
              <input matInput  formControlName="englishLevel" name="englishLevel" />
            </mat-form-field>
            <mat-form-field  class="table-textarea">
              <mat-label>{{ "EDIT.TEXT" | translate }}:</mat-label>
              <textarea
                class="form-control textarea"
                matInput
                no-resize
                formControlName="text"
                name="text"
                [matTextareaAutosize]="true"
              >
              </textarea>
            </mat-form-field>
            <form [formGroup]="materialValue" class="form-answers" >
              <h4 class='form-answers__title'>{{"EDIT.TITLE_ANSWER" | translate}}</h4>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_1" | translate}}</mat-label>
                <input matInput formControlName="answer1" name="answer1" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_2" | translate}}</mat-label>
                <input matInput formControlName="answer2" name="answer2" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_3" | translate}}</mat-label>
                <input matInput formControlName="answer3" name="answer3" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_4" | translate}}</mat-label>
                <input matInput formControlName="answer4" name="answer4" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_5" | translate}}</mat-label>
                <input matInput formControlName="answer5" name="answer5" />
              </mat-form-field>
              <div class="buttons">
                <button class="confirm-btn" mat-button matStepperNext (click)="postQuestionDetails()">{{ "BUTTONS.ADD_QUESTION" | translate }}</button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <div class="stepper-wrap">
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.TYPE" | translate }}:</mat-label>
              <input matInput (change)="getInputTextType($event)" formControlName="type" name="type"/>
            </mat-form-field>
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.ENG_LVL" | translate }}:</mat-label>
              <input matInput  formControlName="englishLevel" name="englishLevel" />
            </mat-form-field>
            <mat-form-field  class="table-textarea">
              <mat-label>{{ "EDIT.TEXT" | translate }}:</mat-label>
              <textarea
                class="form-control textarea"
                matInput
                no-resize
                formControlName="text"
                name="text"
                [matTextareaAutosize]="true"
              >
              </textarea>
            </mat-form-field>
            <form [formGroup]="materialValue" class="form-answers" >
              <h4 class='form-answers__title'>{{"EDIT.TITLE_ANSWER" | translate}}</h4>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_1" | translate}}</mat-label>
                <input matInput formControlName="answer1" name="answer1" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_2" | translate}}</mat-label>
                <input matInput formControlName="answer2" name="answer2" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_3" | translate}}</mat-label>
                <input matInput formControlName="answer3" name="answer3" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_4" | translate}}</mat-label>
                <input matInput formControlName="answer4" name="answer4" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_5" | translate}}</mat-label>
                <input matInput formControlName="answer5" name="answer5" />
              </mat-form-field>
              <div class="buttons">
                <button class="confirm-btn" mat-button matStepperNext (click)="postQuestionDetails()">{{ "BUTTONS.ADD_QUESTION" | translate }}</button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <div class="stepper-wrap">
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.TYPE" | translate }}:</mat-label>
              <input matInput (change)="getInputTextType($event)" formControlName="type" name="type"/>
            </mat-form-field>
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.ENG_LVL" | translate }}:</mat-label>
              <input matInput  formControlName="englishLevel" name="englishLevel" />
            </mat-form-field>
            <mat-form-field  class="table-textarea">
              <mat-label>{{ "EDIT.TEXT" | translate }}:</mat-label>
              <textarea
                class="form-control textarea"
                matInput
                no-resize
                formControlName="text"
                name="text"
                [matTextareaAutosize]="true"
              >
              </textarea>
            </mat-form-field>
            <form [formGroup]="materialValue" class="form-answers" >
              <h4 class='form-answers__title'>{{"EDIT.TITLE_ANSWER" | translate}}</h4>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_1" | translate}}</mat-label>
                <input matInput formControlName="answer1" name="answer1" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_2" | translate}}</mat-label>
                <input matInput formControlName="answer2" name="answer2" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_3" | translate}}</mat-label>
                <input matInput formControlName="answer3" name="answer3" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_4" | translate}}</mat-label>
                <input matInput formControlName="answer4" name="answer4" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_5" | translate}}</mat-label>
                <input matInput formControlName="answer5" name="answer5" />
              </mat-form-field>
              <div class="buttons">
                <button class="confirm-btn" mat-button matStepperNext (click)="postQuestionDetails()">{{ "BUTTONS.ADD_QUESTION" | translate }}</button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <div class="stepper-wrap">
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.TYPE" | translate }}:</mat-label>
              <input matInput (change)="getInputTextType($event)" formControlName="type" name="type"/>
            </mat-form-field>
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.ENG_LVL" | translate }}:</mat-label>
              <input matInput  formControlName="englishLevel" name="englishLevel" />
            </mat-form-field>
            <mat-form-field  class="table-textarea">
              <mat-label>{{ "EDIT.TEXT" | translate }}:</mat-label>
              <textarea
                class="form-control textarea"
                matInput
                no-resize
                formControlName="text"
                name="text"
                [matTextareaAutosize]="true"
              >
              </textarea>
            </mat-form-field>
            <form [formGroup]="materialValue" class="form-answers" >
              <h4 class='form-answers__title'>{{"EDIT.TITLE_ANSWER" | translate}}</h4>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_1" | translate}}</mat-label>
                <input matInput formControlName="answer1" name="answer1" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_2" | translate}}</mat-label>
                <input matInput formControlName="answer2" name="answer2" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_3" | translate}}</mat-label>
                <input matInput formControlName="answer3" name="answer3" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_4" | translate}}</mat-label>
                <input matInput formControlName="answer4" name="answer4" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_5" | translate}}</mat-label>
                <input matInput formControlName="answer5" name="answer5" />
              </mat-form-field>
              <div class="buttons">
                <button class="confirm-btn" mat-button matStepperNext (click)="postQuestionDetails()">{{ "BUTTONS.ADD_QUESTION" | translate }}</button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <div class="stepper-wrap">
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.TYPE" | translate }}:</mat-label>
              <input matInput (change)="getInputTextType($event)" formControlName="type" name="type"/>
            </mat-form-field>
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.ENG_LVL" | translate }}:</mat-label>
              <input matInput  formControlName="englishLevel" name="englishLevel" />
            </mat-form-field>
            <mat-form-field  class="table-textarea">
              <mat-label>{{ "EDIT.TEXT" | translate }}:</mat-label>
              <textarea
                class="form-control textarea"
                matInput
                no-resize
                formControlName="text"
                name="text"
                [matTextareaAutosize]="true"
              >
              </textarea>
            </mat-form-field>
            <form [formGroup]="materialValue" class="form-answers" >
              <h4 class='form-answers__title'>{{"EDIT.TITLE_ANSWER" | translate}}</h4>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_1" | translate}}</mat-label>
                <input matInput formControlName="answer1" name="answer1" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_2" | translate}}</mat-label>
                <input matInput formControlName="answer2" name="answer2" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_3" | translate}}</mat-label>
                <input matInput formControlName="answer3" name="answer3" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_4" | translate}}</mat-label>
                <input matInput formControlName="answer4" name="answer4" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_5" | translate}}</mat-label>
                <input matInput formControlName="answer5" name="answer5" />
              </mat-form-field>
              <div class="buttons">
                <button class="confirm-btn" mat-button matStepperNext (click)="postQuestionDetails()">{{ "BUTTONS.ADD_QUESTION" | translate }}</button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <div class="stepper-wrap">
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.TYPE" | translate }}:</mat-label>
              <input matInput (change)="getInputTextType($event)" formControlName="type" name="type"/>
            </mat-form-field>
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.ENG_LVL" | translate }}:</mat-label>
              <input matInput  formControlName="englishLevel" name="englishLevel" />
            </mat-form-field>
            <mat-form-field  class="table-textarea">
              <mat-label>{{ "EDIT.TEXT" | translate }}:</mat-label>
              <textarea
                class="form-control textarea"
                matInput
                no-resize
                formControlName="text"
                name="text"
                [matTextareaAutosize]="true"
              >
              </textarea>
            </mat-form-field>
            <form [formGroup]="materialValue" class="form-answers" >
              <h4 class='form-answers__title'>{{"EDIT.TITLE_ANSWER" | translate}}</h4>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_1" | translate}}</mat-label>
                <input matInput formControlName="answer1" name="answer1" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_2" | translate}}</mat-label>
                <input matInput formControlName="answer2" name="answer2" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_3" | translate}}</mat-label>
                <input matInput formControlName="answer3" name="answer3" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_4" | translate}}</mat-label>
                <input matInput formControlName="answer4" name="answer4" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_5" | translate}}</mat-label>
                <input matInput formControlName="answer5" name="answer5" />
              </mat-form-field>
              <div class="buttons">
                <button class="confirm-btn" mat-button matStepperNext (click)="postQuestionDetails()">{{ "BUTTONS.ADD_QUESTION" | translate }}</button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step>
          <div class="stepper-wrap">
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.TYPE" | translate }}:</mat-label>
              <input matInput (change)="getInputTextType($event)" formControlName="type" name="type"/>
            </mat-form-field>
            <mat-form-field class="input-table" >
              <mat-label>{{ "EDIT.ENG_LVL" | translate }}:</mat-label>
              <input matInput  formControlName="englishLevel" name="englishLevel" />
            </mat-form-field>
            <mat-form-field  class="table-textarea">
              <mat-label>{{ "EDIT.TEXT" | translate }}:</mat-label>
              <textarea
                class="form-control textarea"
                matInput
                no-resize
                formControlName="text"
                name="text"
                [matTextareaAutosize]="true"
              >
              </textarea>
            </mat-form-field>
            <form [formGroup]="materialValue" class="form-answers" >
              <h4 class='form-answers__title'>{{"EDIT.TITLE_ANSWER" | translate}}</h4>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_1" | translate}}</mat-label>
                <input matInput formControlName="answer1" name="answer1" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_2" | translate}}</mat-label>
                <input matInput formControlName="answer2" name="answer2" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_3" | translate}}</mat-label>
                <input matInput formControlName="answer3" name="answer3" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_4" | translate}}</mat-label>
                <input matInput formControlName="answer4" name="answer4" />
              </mat-form-field>
              <mat-form-field class="input-answer" >
                <mat-label>{{"EDIT.ANSWER_5" | translate}}</mat-label>
                <input matInput formControlName="answer5" name="answer5" />
              </mat-form-field>
              <div class="buttons">
                <!-- <button class="confirm-btn" mat-button matStepperNext (click)="postQuestionDetails()">{{ "BUTTONS.ADD_QUESTION" | translate }}</button> -->
                <button class="confirm-btn" mat-button (click)="postQuestionDetails()" (click)="closeModal()" (click)="stepper.reset()">{{ "BUTTONS.ADD_AND_CONFIRM" | translate }}</button>
              </div>
            </form>
          </div>
        </mat-step>
      </mat-stepper>
    </form>
  </div>
</div>
