<div class="content">
<button class="add-question" (click)="openModal();">Add Question</button>

<table class="questions-table">
  <tr>
    <th>Id</th>
    <th>Text</th>
    <th>Type</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let question of questionsList">
    <td>{{ question.id }}</td>
    <td>{{ question.text }}</td>
    <td>{{ question.type }}</td>
    <td>
      <button type="button" class="edit-button">Edit</button>
    </td>
    <td>
      <button type="button" class="delete-button">Delete</button>
    </td>
  </tr>
</table>

<div class="modal-close" id="modal">
  <form [formGroup]="formValue" class="modal-content">
    <div class="form-group">
      <label for="id">Id:</label>
      <input
        type="text"
        formControlName="id"
        placeholder="id"
        name="id"
        class="form-control"
        id="id"
        readonly="true"
      />
    </div>

    <div class="form-group">
      <label for="text">Text:</label>
      <input
        formControlName="text"
        placeholder="Text"
        name="text"
        class="form-control"
        id="text"
      />
    </div>

    <div class="form-group">
      <label for="type">Type:</label>
      <input
        formControlName="type"
        placeholder="Type"
        name="type"
        class="form-control"
        id="type"
      />
    </div>

    <button class="close" (click)="closeModal();">Update</button>
  </form>
</div>
</div>
