.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-close {
  display: none;
}
.table-wrap {
  width: 100%;
  max-height: 80vh;
  justify-content: center;
  display: flex;
  overflow-y: auto;
}
.form-group-wrapper {
  display: flex;
}
.table{
  width: 90%;
}
.confirm-test-wrap {
  display: flex;
  width: 60%;
  color: rgb(58, 58, 58);
  margin: 100px 0px 300px 0px;
}
.confirm-test-btns {
  display: flex;
}
.confirm-test {
  margin-top: 60px;
}
.create-answers-btns {
  display: flex;
  margin-top: 50px;
}
.stepper-table {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10%;
  width: 90%;
  height: 70%;
  // justify-content: space-between;
}
.table-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  .table-textarea {
    width: 90%;
    margin-bottom: 60px;
  }
  .table-input {
    width: 90%;
    margin-bottom: 60px;
  }
}
.form-group {
  width: 90%;
  display: flex;
  .wrapper {
    display: flex;
  }
}

.form-answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-answer {
  width: 80%;
}

.modal-content {
  background-color: #fefefe;
  margin: 8% auto;
  padding: 20px;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btns-wrap {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 30px;
}

.add-question,
.get-all,
.close,
.edit-button,
.delete-button {
  width: 20%;
}

.edit-button,
.delete-button {
  background-color: transparent;
  border: none;
  color: var(--color-text);
}

.edit-button:hover {
  color: blue;
}

.delete-button:hover {
  color: red;
}

.edit-button,
.delete-button {
  font-size: 0.8rem;
}

::ng-deep .mat-form-field {
  &-wrapper {
    padding-bottom: 0;
  }

  &-underline {
    bottom: 0;
  }

  &-appearance-fill,
  &-flex {
    background-color: transparent !important;
  }
}

.modal-open {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

#cancel {
  margin-left: 0.6em;
  background-color: var(--color-warning);
  border: 0.5px solid var(--color-warning);
}

.th-width-6 {
  width: 6em;
}

.th-width-35 {
  width: 35em;
}

.modal-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
