.progress-bar {
  &__line {
    height: 15px;
    width: 100%;
    border-radius: 7.5px;
    background-color: var(--color-light);
    overflow: hidden;
  }

  &__line-done {
    background: #2BCE2B;
    height: 15px;
  }

  &__progress {
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-light);
    margin-bottom: 20px;
  }
}
