<div class="login-form">
  <div class="container">
    <form class="form">
      <div class="logo-container">
        <img src="./assets/images/logo.png" alt="" class="logo-image" />
      </div>
      <button
        type="submit"
        class="button-submit"
        (click)="login(configurations[0].configId!)"
      >
        {{ "LOGIN.SIGN_IN" | translate }}
      </button>
    </form>
    <div class="person">
      <img src="./assets/images/login-gates.png" alt="" />
    </div>
  </div>
</div>
