<!-- <button 
class="audio" 
(click)="play ? stopAudio() : playAudio()" 
[disabled]="disabledAudio" 
type='audio'
(onended)="counter()">
  <mat-icon class="audio-play">{{ play ? 'pause_circle_outline' : 'play_circle' }}</mat-icon>
</button> -->


<div class="player">  
  <div class="play-control" 
  (click)="playAudio()" 
  >
    <mat-icon  class="audio-play" >play_circle_outline</mat-icon>
  </div>
  <div class="time-control">
    <input type="range" class="input-range">
    <p class="time">End Time</p>
  </div>
</div>
<p class="play-attempts">Your attempts: <span class="play-counter">{{tryCount}}</span></p>