.audio {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 45px;
  height: 45px;
  border: 2px solid #305968;
  border-radius: 50%;
  background-color: transparent;

  .audio-play {
    color: #305968;
  }
}
