<div class="audio-container">
  <div class="player">
    <div class="microfone" #microphone>
      <p class="microfone_align">
        <mat-icon
          class="microfone_icon"
          id="play-control"
          (click)="playAudioClick()"
          >play_arrow</mat-icon
        >
      </p>
    </div>

    <p class="play-attempts">
      Your attempts: <span class="play-counter">{{ tryCount }}</span>
    </p>
  </div>

  <div class="person">
    <img src="./assets/images/listening.png" alt="" />
  </div>
</div>
