:host {
  align-self: flex-start;
}

.wrapper-lang {
  position: sticky;
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}
.logout {
  font-weight: 500;
  color: var(--color-text);
  margin-right: 20px;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.language {
  color: var(--color-text);
  font-style: normal;
  font-weight: 500;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.selected {
  color: var(--color-light)
}
