.wrapper-lang {
  position: sticky;
  display: flex;
  width: 75px;
  height: 18px;
  justify-content: space-between;
}

.language {
  color: var(--color-text);
  font-style: normal;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
}

.selected {
  color: var(--color-light)
}
