<div class="profile">
  <nav class="profile-navigation">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="./notifications"
          ><mat-icon
            [matTooltip]="'PROFILE.PROFILE' | translate"
            [matTooltipPosition]="tooltipPosition"
            >person</mat-icon
          ><span>{{ "PROFILE.PROFILE" | translate }}</span></a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="./results"
          ><mat-icon
            [matTooltip]="'PROFILE.RESULTS' | translate"
            [matTooltipPosition]="tooltipPosition"
            >rule</mat-icon
          ><span>{{ "PROFILE.RESULTS" | translate }}</span></a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="./statistics"
          ><mat-icon
            [matTooltip]="'PROFILE.STATISTICS' | translate"
            [matTooltipPosition]="tooltipPosition"
            >bar_chart</mat-icon
          ><span>{{ "PROFILE.STATISTICS" | translate }}</span></a
        >
      </li>
      <li routerLinkActive="active" *ngIf="getUserRole$ | async as userRole">
        <a routerLink="./edit" *ngIf="ableToEditRoles.includes(userRole)"
          ><mat-icon
            [matTooltip]="'PROFILE.EDIT' | translate"
            [matTooltipPosition]="tooltipPosition"
            >edit</mat-icon
          ><span>{{ "PROFILE.EDIT" | translate }}</span></a
        >
      </li>
      <li routerLinkActive="active" *ngIf="getUserRole$ | async as userRole">
        <a routerLink="./tests" *ngIf="ableToEditRoles.includes(userRole)">
          <mat-icon
            [matTooltip]="'PROFILE.TESTS' | translate"
            [matTooltipPosition]="tooltipPosition"
            >check_box</mat-icon
          >
          <span> {{ "PROFILE.TESTS" | translate }}</span></a
        >
      </li>
      <!-- <li routerLinkActive="active" *ngIf="getUserRole$ | async as userRole">
        <a routerLink="./users" *ngIf="ableToEditRoles.includes(userRole)">{{ "PROFILE.USERS" | translate }}</a> -->
      <li routerLinkActive="active">
        <a routerLink="./users"
          ><mat-icon
            [matTooltip]="'PROFILE.USERS' | translate"
            [matTooltipPosition]="tooltipPosition"
            >people</mat-icon
          ><span>{{ "PROFILE.USERS" | translate }}</span></a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="./assignments">
          <mat-icon
            [matTooltip]="'PROFILE.ASSIGNMENTS' | translate"
            [matTooltipPosition]="tooltipPosition"
            >assignment</mat-icon
          >
          <span>{{ "PROFILE.ASSIGNMENTS" | translate }}</span></a
        >
      </li>
      <!-- <li routerLinkActive="active" *ngIf="getUserRole$ | async as userRole">
        <a routerLink="./users" *ngIf="userRole === 'couch' ? true : false">{{ "PROFILE.USERS" | translate }}</a>
      </li> -->
    </ul>
  </nav>
  <div class="profile-view">
    <router-outlet></router-outlet>
  </div>
</div>
