<div class="profile">
  <nav class="profile-navigation">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="./notifications">{{ "PROFILE.PROFILE" | translate }}</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="./results">{{ "PROFILE.RESULTS" | translate }}</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="./statistics">{{ "PROFILE.STATISTICS" | translate }}</a>
      </li>
      <li routerLinkActive="active" *ngIf="getUserRole$ | async as userRole">
        <a routerLink="./edit" *ngIf="ableToEditRoles.includes(userRole)">{{
          "PROFILE.EDIT" | translate
        }}</a>
      </li>
      <!-- <li routerLinkActive="active" *ngIf="getUserRole$ | async as userRole">
        <a routerLink="./users" *ngIf="ableToEditRoles.includes(userRole)">{{ "PROFILE.USERS" | translate }}</a> -->
      <li routerLinkActive="active">
        <a routerLink="./users">{{ "PROFILE.USERS" | translate }}</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="./assignments">{{ "PROFILE.ASSIGNMENTS" | translate }}</a>
      </li>
      <!-- <li routerLinkActive="active" *ngIf="getUserRole$ | async as userRole">
        <a routerLink="./users" *ngIf="userRole === 'couch' ? true : false">{{ "PROFILE.USERS" | translate }}</a>
      </li> -->
    </ul>
  </nav>
  <router-outlet class="profile-view"></router-outlet>
</div>
