@import "../../../../assets/scss//styles.scss";

.speaking-block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3em;
  margin-top: 1em;

  .person {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      @include _1400 {
        width: 400px;
      }
      @include _1200 {
        width: 350px;
      }
      @include _992 {
        display: none;
      }
    }
  }

  .player {
    margin-top: 2em;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .microfone {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.5em;
      height: 3.5em;
      border: 2px solid #305968;
      border-radius: 50%;
      margin-right: 1em;
      .microfone_align {
        width: 3em;
        height: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        .microfone_icon {
          font-size: 2em;
          color: #305968;
          width: 1em;
          height: auto;
        }
      }
    }

    .audio {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #305968;
      border-radius: 10px;
      padding-right: 1em;

      .time {
        padding: 1rem;
        color: #305968;
      }
      .audio-play {
        color: #305968;
        cursor: pointer;
        font-size: 2em;
      }
    }

    .time-control {
      width: 80%;
      display: flex;
      margin-left: 1em;
      .input-range {
        width: 100%;
        padding: 1rem 2rem;
      }
    }
  }
  .input-submit {
    width: fit-content;
    padding: 5px 25px;
  }
}
