@import "../../../../scss/styles.scss";

.speaking-block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;

  .person {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 300px;

      @include _1400 {
        width: 250px;
      }

      @include _1200 {
        width: 200px;
      }

      @include _992 {
        display: none;
      }
    }
  }

  .player {
    margin-top: 2em;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .microfone {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.5em;
      height: 3.5em;
      border: 2px solid #305968;
      border-radius: 50%;
      margin-right: 1em;
      cursor: pointer;

      .microfone_align {
        width: 3em;
        height: 3em;
        display: flex;
        justify-content: center;
        align-items: center;

        .microfone_icon {
          font-size: 2em;
          color: #305968;
          width: 1em;
          height: auto;
        }
      }
    }

    .time {
      width: 3em;
    }

    .audio {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #305968;
      border-radius: 10px;
      padding-right: 1em;

      .time {
        padding: 1rem;
        color: #305968;
      }
    }
  }

  .input-submit {
    width: fit-content;
    padding: 5px 25px;
  }
}

.time-color {
  color: #305968;
  padding-left: 1em;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #99dbf3;
}

.themes-wrap {
  width: 100%;
  height: auto;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;

  ul {
    list-style: none;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #545454;
      font-family: "Roboto";
      font-weight: normal;
      padding: 5px 41px;
      border: 1px solid #545454;
      border-radius: 10px;
      margin: 0px 0px 15px 15px;
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        border: 1px solid #3f3f3f;
        background-color: rgb(224, 224, 224);
      }
    }
  }
}
