<div class="selectors">
  <h1 class="selectors-title">{{ title | translate }}</h1>
  <div class="selectors-container">
    <button
      class="selectors-container-button"
      (click)="selectLevel($event)"
      *ngFor="let button of SELECT_LEVEL_BUTTONS"
    >
      {{ button | uppercase }}
    </button>
    <button
      class="selectors-container-button"
      [disabled]="!allowStartTest || level === ''"
      (click)="startTest()"
    >
      <span *ngIf="allowStartTest; else notAvailable">
        {{ "SELECTORS.START_BTN" | translate }}</span
      >
      <ng-template #notAvailable
        >{{ "SELECTORS.AVAILABLE" | translate }}
        <countdown [config]="{ stopTime: nextTestTime }"></countdown>
      </ng-template>
    </button>
  </div>
</div>
