@import '../../../scss/styles.scss';

:host {
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  padding: 3vh;
}

.title {
  font-size: 1.75rem;
  color: var(--color-text)
}

.definition {
  margin-top: 10px;
}

.container {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;

  &-item {
    width: 49%;

    @include _992 {
      width: 100%;
    }
  }
}

.progress mat-icon {
  font-size: 100px;
  width: 100px;
  height: 100px;
  color: var(--color-bg-focus)
}

.total {
  margin-top: 10px;
  width: 99%;
  background-color: var(--color-light);
  border-radius: 10px;
  height: 28vh;
  min-height: 10rem;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include _992 {
    height: 20vh;
  }

  &-result {
    font-size: 3rem;
  }

  &-title {
    color: var(--color-text);
    font-size: 1.3rem;
    margin-top: 1rem;
  }

}
