:host {
  display: flex;
  flex-direction: column;
  min-width: 20vw;
}

.title {
  font-size: 35px;
}

.definition {
  font-size: 30px;
  line-height: 2.2;
}

.definition:first-of-type {
  margin-top: 20px;
}
