.navigation {
  width: 100%;
  margin-bottom: 50px;

  ul {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 30px;
      font-size: 1.25rem;

      a {
        color: var(--color-text);
        font-weight: 500;
        text-decoration: none;
      }

      &.active {
        font-size: 1.5rem;
        border-bottom: 0.5px solid #81BACF;
      }
    }
  }
}
