<div class="navigation">
  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/grammar']">{{"NAVIGATION.GRAMMAR" | translate}}</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/listening']" >{{"NAVIGATION.LISTENING" | translate}}</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/writing']" >{{"NAVIGATION.WRITING" | translate}}</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/speaking']" >{{"NAVIGATION.SPEAKING" | translate}}</a>
    </li>
  </ul>
</div>
