<div class="notifications">
  <h1 class="title">Notifications</h1>
  <div *ngIf="notifications.length; else nothingToShow" class="message">
    <p class="message-text">{{ notifications[0].title }}</p>
    <h1 class="message-title title">Assigned by</h1>
    <p class="message-text">{{ notifications[0].assignedBy }}</p>
    <!-- <h1 class="message-title title">Deadline</h1>
    <p class="message-text">{{ notifications[0].deadline }}</p> -->
  </div>

  <ng-template #nothingToShow>
    <p class="message-text">
      You don't have assigned tests yet. But you can pass one yourself
    </p>
  </ng-template>

  <button class="notifications-button" (click)="goToSelectLevel()">
    Start a test
  </button>
</div>
