<div class="notifications">
  
  <h1 class="title">{{"PROFILE.NOTIFICATIONS" | translate}}</h1>
  <div *ngIf="notifications.length; else nothingToShow" class="message">
    <p class="message-text">{{ notifications[0].title | translate}}</p>
    <h1 class="message-title title">{{"PROFILE.ASSIGNED" | translate}}</h1>
    <p class="message-text">{{ notifications[0].assignedBy | translate}}</p>
  </div>

  <ng-template #nothingToShow>
    <p class="message-text">
      {{"PROFILE.NOTEXT" | translate}}
    </p>
  </ng-template>

  <app-button class="notifications-button" (click)="goToSelectLevel()">
   {{"BUTTONS.START_TEST" | translate}}
  </app-button>
</div>

