<div class="notifications">
  <div *ngIf="notifications.length; else nothingToShow" class="message">
    <h1 class="title">{{ "PROFILE.ROLE" | translate }}</h1>
    <p class="message-text">{{ role | titlecase }}</p>
    <div *ngIf="assignedLevel">
      <h1 class="title">{{ "PROFILE.NOTIFICATIONS" | translate }}</h1>
      <p class="message-text">
        {{ notifications[0].title | translate }}
        {{ "RESULTS.FOR" | translate }} {{ assignedLevel }}
      </p>
    </div>
  </div>

  <ng-template #nothingToShow>
    <p class="message-text">
      {{ "PROFILE.NOTEXT" | translate }}
    </p>
  </ng-template>

  <button class="notifications-button" (click)="goToSelectLevel()">
    {{ "BUTTONS.START_TEST" | translate }}
  </button>
</div>
